.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.display-flash-message {
    width: 100%;
    background: #F1113B !important;
    color: white !important;
}
.header {
    color: white !important;
}