.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.display-flash-message {
    width: 100%;
    background: #F1113B !important;
    color: white !important;
}
.header {
    color: #F2F2F2 !important;
}

body {
    background-color: #0C0C0C !important;
}

a:hover {
    color: #F1113B !important;
}

a {
    color: #F2F2F2 !important;
    text-decoration: none;
}