{% extends 'accounts/main.html' %}

{% block content %}
<h2>Customers Total: {{total_customers}}</h2>

<a href="{%url 'create_customer'%}">Create a Customer</a>

<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th></th>
        <th></th>

        {% for i in customers %}
            <tr>
                <td>
                    <a href="{% url 'customer' i.id %}">{{i.name}}</a>
                </td>
                <td>
                    <a href="{% url 'update_customer' i.id %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'delete_customer' i.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </thead>
</table>
<h2>Orders</h2>

<table class="table table-bordered">
    <thead>
        <th>Orders</th>

        {% for i in orders %}
            <tr>
                <td>{{i.status}}</td>
            </tr>
        {% endfor %}
    </thead>
</table>
{% endblock %}
