{% extends 'consequence/dashboard/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p class="h5 header">Hello {{user.username}}</p>
        </div>

        {% if account is None %}
        <div class="col">
            <p class="header">You have some missing details</p>
            <p class="header">
                <a href="{% url 'update_profile' %}">
                    <button class="btn btn-danger">Please click here to update your profile.</button>
                </a>
            </p>
        </div>
        {% else %}

            {% if link != '' %}
            <div class="col">
                <p class="header">Please login your true Layer Account</p>
                <p class="header">
                    <a href="{{link}}">
                        <button class="btn btn-danger">
                            Login.
                        </button>
                    </a>
                </p>
            </div>
            {% endif %}
        {% endif %}

    </div>
    <div class="row">
        <div class="col">
            <p class="h4 header">Your Total Carbon Impact: {{total_impact}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h5 header">Your Impact Breakdown:</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-dark table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <td><strong>Total Impact for Transactions with Merchant/Classification</strong></td>
                        <td><strong>{{impact_categorized}}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Total Impact for Transactions without Merchant/Classification</strong></td>
                        <td><strong>{{impact_uncategorized}}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Average CO2E for Categorized Transactions</strong></td>
                        <td><strong>{{average_impact_categorized}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-danger" data-transaction-table-toggle-btn="">Toggle Transactions Visibility</button>
        </div>
    </div>
    <div class="row d-none" data-transaction-table-label="">
        <div class="col">
            <p class="h5 header d-none">Transactions</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-dark table-bordered table-hover table-striped d-none" data-transaction-table="">
                <thead>
                    <th>Transaction ID</th>
                    <th>Amount</th>
                    <th>CO2E Factor</th>
                    <th>Total CO2E</th>
                    <th>Source</th>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td><p><span><strong>{{record.transaction.type}}:</strong></span>&nbsp;<span><i>{{record.transaction.id}}</i></span></p></td>
                        <td>{{record.amount}}</td>
                        <td>{{record.co2e_factor}}</td>
                        <td>{{record.impact}}</td>
                        <td>
                            {% if record.source.type is None %}
                                <p><span>NA</span></p>
                            {% else %}
                                <p><span>{{record.source.type}}:</span>&nbsp;<span><strong>{{record.source.label}}</strong></span></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('[data-transaction-table-toggle-btn]').on('click', function() {
        if($('[data-transaction-table]').hasClass('d-none')) {
            $('[data-transaction-table]').removeClass('d-none');
            $('[data-transaction-table-label]').removeClass('d-none');
        } else {
            $('[data-transaction-table]').addClass('d-none');
            $('[data-transaction-table-label]').addClass('d-none');
        }

    });
</script>

{% endblock %}
