{% extends 'consequence/dashboard/base.html' %}

{% block content %}
<p class="h2 header">Edit Profile</p>
<form method="POST">
    {% csrf_token %}
<table class="table table-dark table-bordered table-hover table-striped">
    <tr>
        <td><strong>{{form.name.label}}</strong></td>
        <td>{{form.name}}</td>
    </tr>
    <tr>
        <td><strong>{{form.nature_of_business.label}}</strong></td>
        <td>{{form.nature_of_business}}</td>
    </tr>
    <tr>
        <td><strong>{{form.number_of_employees.label}}</strong></td>
        <td>{{form.number_of_employees}}</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Submit"></td>
    </tr>
</table>

</form>
{% endblock %}
