{% extends 'consequence/dashboard/base.html' %}

{% block content %}
<p class="h3 header">Account: {{account.display_name}}</p>
<table class="table table-dark table-bordered table-hover table-striped">
    <tr>
        <td><strong>Account ID:</strong></td>
        <td>{{account.account_id}}</td>
    </tr>
    <tr>
        <td><strong>Number:</strong></td>
        <td>{{account.account_number.number}}</td>
    </tr>
    <tr>
        <td><strong>Sort Code:</strong></td>
        <td>{{account.account_number.sort_code}}</td>
    </tr>
    <tr>
        <td><strong>Swift BIC:</strong></td>
        <td>{{account.account_number.swift_bic}}</td>
    </tr>
    <tr>
        <td><strong>Account Type:</strong></td>
        <td>{{account.account_type}}</td>
    </tr>
    <tr>
        <td><strong>Display Name:</strong></td>
        <td>{{account.display_name}}</td>
    </tr>
    <tr>
        <td><strong>Provider:</strong></td>
        <td>
            <img height="100" width="100" src="{{account.provider.logo_uri}}" alt="{{account.provider.provider_id}}">
            {{account.provider.display_name}}
        </td>
    </tr>
</table>

<p class="h5 header">Account Transactions</p>

<table class="table table-dark table-bordered table-hover table-striped">
    <thead>
        <th><strong>Merchant</strong></th>
        <th><strong>Description</strong></th>
        <th><strong>Transaction Type</strong></th>
        <th><strong>Amount</strong></th>
        <th><strong>Currency</strong></th>
        <th><strong>Running Balance</strong></th>
        {% if tl_account is not None %}
        <th></th>
        {% endif %}
    </thead>
    {% for account_transaction in account_transactions %}
        <tr>
            <td>{{account_transaction.merchant_name}}</td>
            <td>{{account_transaction.description}}</td>
            <td>{{account_transaction.transaction_type}}</td>
            <td>{{account_transaction.amount}}</td>
            <td>{{account_transaction.currency}}</td>
            <td>{{account_transaction.running_balance.amount}}</td>
            {% if tl_account is not None %}
                <td>
                    {%if account_transaction.linked %}
                        <strong>Linked.</strong>
                    {% else %}
                        <form method="POST" action="{%url 'truelayer_link_account_transaction' account.account_id account_transaction.transaction_id %}">
                            {% csrf_token %}
                            <input type="hidden" name="description" value="{{account_transaction.description}}">
                            <input type="hidden" name="transaction_type" value="{{account_transaction.transaction_type}}">
                            <input type="hidden" name="transaction_category" value="{{account_transaction.transaction_category}}">
                            <input type="hidden" name="merchant_name" value="{{account_transaction.merchant_name}}">
                            <input type="hidden" name="amount" value="{{account_transaction.amount}}">
                            <input type="hidden" name="currency" value="{{account_transaction.currency}}">
                            <input type="hidden" name="transaction_id" value="{{account_transaction.transaction_id}}">
                            <input type="hidden" name="provider_transaction_category" value="{{account_transaction.meta.provider_transaction_category}}">
                            <input type="hidden" name="running_balance_currency" value="{{account_transaction.running_balance.currency}}">
                            <input type="hidden" name="running_balance_amount" value="{{account_transaction.running_balance.amount}}">
                            <input type="hidden" name="transaction_classification_primary" value="{{account_transaction.transaction_classification_primary}}">
                            <button type="submit" class="btn btn-danger">Link</button>
                        </form>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}